<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Brand</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ng-class="{ 'active': 'dashboard' === activeState }">
                    <a ui-sref="dashboard">Dashboard</a>
                </li>
                <li ng-class="{ 'active': 'code' === activeState }" >
                    <a ui-sref="code">Dodaj kod</a>
                </li>
                <li ng-class="{ 'active': 'contact' === activeState }">
                    <a ui-sref="contact">Kontakt</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div ui-view="content" class="row"></div>
</div>
<footer class="footer">
    <div class="container">
        <div class="row">
            <span class="text">&copy; PasteBin - Rulik, Wołoszyn, Binda</span>
        </div>
    </div>
</footer>
