<div class="col-sm-4 mb10">
    <div class="code-content">
        <h3><span class="glyphicon glyphicon-bookmark"></span>{{ item.name }}</h3>
        <p class="text-warning"><span class="glyphicon glyphicon-user"></span> Unknow</p>
        <p  class="text-info"><span class="glyphicon glyphicon-time"></span> {{ item.createDate | date: 'MMM d, y h:mm:ss a' }} </p>
        <p>
            <button
                type="button"
                class="btn btn-primary btn-lg btn-block"
                ui-sref="preview.code( {code: item.id})"
            >
                <span class="glyphicon glyphicon-search"> </span>
                Zobacz
            </button>
        </p>
    <div>
</div>
