<h1>{{ 'dashboard.header.title' | trans }}</h1>
<div class="row">
    <h3>Ostatnio dodane kody</h3><br>
    <div class="filters-panel mb10">
        <span> Sortuj: </span>
        <button ng-click="_ctrl.setOrderBy('name')" type="button" class="btn btn-info">Nazwa</button>
        <button ng-click="_ctrl.setOrderBy('createDate')" type="button" class="btn btn-info">Data utworzenia</button>
        <button ng-click="_ctrl.resetFilters()" type="button mr10" class="btn btn-default">Resetuj</button>
    </div>
</div>
<div class="row">
<dashboard-courses
    ng-repeat="item in _ctrl.model.codes |
        orderBy: _ctrl.model.orderBy:_ctrl.model.reverse |
        limitTo: _ctrl.model.displayLimit"
    item="item"
>

</dashboard-courses>
</div>
<div class="row">
    <div class="text-center mb10">
        <button
            ng-if="3 < _ctrl.model.codes.length"
            ng-click="_ctrl.displayMore()"
            type="button"
            class="btn btn-success"
        >
            Pokarz więcej
        </button>
    </div>
</div>
