<h2>Formularz dodawania</h2>
<form
    name="_ctrl.model.codeForm"
    ng-init="submit = false"
>
    <div
        ng-class="{ 'has-error': _ctrl.model.codeForm.codeName.$invalid &&
            _ctrl.model.codeForm.codeName.$dirty}"
        class="form-gorup"
    >
        <label>Nazwa</label>
        <input
            ng-model="_ctrl.model.code.name"
            name="codeName"
            class="form-control"
            placeholder="Nazwa"
            type="text"
            required
        >
        <div
            ng-if="submit || _ctrl.model.codeForm.codeName.$dirty"
            ng-messages="_ctrl.model.codeForm.codeName.$error"
            class="text-danger"
        >
            <div ng-message="required">*Pole wymagane </div>
        </div>
    </div>
    <div
        ng-class="{ 'has-error': _ctrl.model.codeForm.codeContent.$invalid &&
            _ctrl.model.codeForm.codeContent.$dirty}"
        class="form-group"
    >
        <label>Kod</label>
        <textarea
            ng-model="_ctrl.model.code.content"
            name="codeContent"
            class="form-control"
            placeholder="Kod"
            rows="10"
            required
        >
        </textarea>
        <div
            ng-if="submit || _ctrl.model.codeForm.codeContent.$dirty"
            ng-messages="_ctrl.model.codeForm.codeContent.$error"
            class="text-danger"
        >
            <div ng-message="required">*Pole wymagane </div>
        </div>
    </div>
    <button
        ng-click="submit = true; _ctrl.submit()"
        type="button"
        class="btn btn-info"
    >
        Zapisz
    </button>
</form>
<pre>{{ _ctrl.model | json}}</pre>
