<h2>Podgląd kodu</h2>

<div class="row">
    <h3><span class="glyphicon glyphicon-bookmark"></span>{{ _ctrl.model.code.name }}</h3>
    <p class="text-warning"><span class="glyphicon glyphicon-user"></span> Unknow</p>
    <p  class="text-info"><span class="glyphicon glyphicon-time"></span>
        {{  _ctrl.model.code.createDate | date: 'MMM d, y h:mm:ss a' }}
    </p>

</div>
<div class="row">
    <h3>Kod</h3>
    <div
        hljs
        hljs-source="_ctrl.model.code.content"
    >
    </div>
</div>
