@mixin scale($scale){
  @include transform(scale($scale));
}
@mixin rotate($rotate){
  @include transform(rotate($rotate));
}
//overwrite bourbons mixin, it takes only one param
@mixin transform-origin($valX, $valY){
  -webkit-transform-origin: $valX $valY;
  -moz-transform-origin: $valX $valY;
  -ms-transform-origin: $valX $valY;
  transform-origin: $valX $valY;
}
@mixin border-radius($radius){
   @include border-top-radius($radius);
   @include border-bottom-radius($radius);
   @include border-left-radius($radius);
   @include border-right-radius($radius);
}
@mixin box-shadow($boxShadow){
  -webkit-box-shadow: $boxShadow;
  -moz-box-shadow: $boxShadow;
  box-shadow: $boxShadow;
}
